<div class="container">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="submitLogin()">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="Username" formControlName="username">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
            <label for="floatingPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
            <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>

        <div class="buttons">
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <button class="w-100 btn btn-lg btn-secondary" routerLink="/register" >Register</button> 
        </div>
    </form> 
</div>
